.App {
  margin: 2rem auto;
  background-color: #17408B;
  max-width: 1500px;
}

.App h1, .loading {
  text-align: center;
  color: white;
}

button {
  border: 2px solid #C9082A;
  border-radius: 4px;
  background-color: #C9082A;
  color: white;
  font-size: 12pt;
  padding: 5px 10px;
}

.players-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.player-card {
  border: 2px solid white;
  border-radius: 4px;
  background-color: white;
  margin: 2% 0;
  padding: 1px 5px;
  width: 30%;
}

.player-name {
  font-size: 16pt;
  font-weight: bold;
  color: #3A3837
}

span.position {
  color: #5D5D5D;
  padding-left: 3px;
}

@media(max-width: 1500px) {
  .players {
    width: 95%;
  }
}

@media(max-width: 800px) {
  .player-card {
    width: 44%;
    margin: 1%
  }
}